

<div class="product-page">
  <div class="row">

    <h1 class="text-center text-success">All Products</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
      <div class="col" *ngFor="let product of products">
        <div class="card">
          <img src="http://rjtmobile.com/grocery/images/{{product.image}}" class="card-img-top" alt="product image">
          <div class="card-body">
            <h5 class="card-title">{{product.productName}}</h5>
            <p class="card-text">{{product.description}}</p>
            <h6 class="text-danger">MRP: {{product.mrp | currency: 'INR'}}</h6>
            <h3 class="text-success">SP: {{product.price | currency: "INR"}}</h3>
            <!-- <p class="card-text">
              {{ product.unit }}
            </p> -->
            <div class="buyButton">
              <button (click)="onButtonClicked(product._id)" class="btn btn-success">Show Details</button>
              <button (click)="onButtonClicked(product._id)" class="btn btn-warning">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
<br><br><br>
