<app-navbar></app-navbar>

<div class="jumbotron text-center">
  <h1 class="display-4">About Us</h1>
  <p class="lead">This is about us page</p>
</div>
<br><br><br><br>
<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nulla architecto corporis debitis provident
        incidunt voluptate maxime sequi beatae, error quibusdam explicabo aliquid nihil voluptatum sit fugit corrupti in
        perferendis ad itaque neque aperiam recusandae deserunt. Quasi labore non quos ex possimus ipsum soluta, fugit
        laboriosam, repudiandae eveniet sit commodi, enim sapiente illo fuga eligendi. Neque accusamus eum officia? Illo
        sit esse quaerat nihil quos ut. Placeat molestias, accusamus voluptatem, totam alias quasi nisi natus optio
        aperiam dicta ab sed nihil aut eaque vero! Eveniet, laboriosam possimus. Temporibus molestias labore distinctio
        libero voluptatibus sunt quam quia, nisi placeat? Rerum, cumque?</p>
</div>

<br><br><br><br><br>
<app-footer></app-footer>